.list__item {
  border-radius: 4px;
  width: 270px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #1c2731;
}
.list__item-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.list__item-increase {
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  border: none;
}
.list__item-info {
  display: flex;
  justify-content: space-between;
}
.list__item-title {
  margin-bottom: 10px;
}
.list__item-title.increase {
  color: #c20dca;
}
.list__item-years {
  font-size: 20px;
}
.list__item-delete {
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  border: none;
}
.list__item-img {
  width: 250px;
  //padding: 10px;
  margin-bottom: 10px;
  height: 320px;
  object-fit: cover;
  border-radius: 4px;
}
