.add__employee {
  margin-bottom: 50px;
}
.add__employee-label {
  display: block;
}
.add__employee-input {
  width: 100%;
  font-size: 18px;
  display: block;
  margin-bottom: 25px;
  border: 0;
  color: #fff;
  background-color: #18232b;
  padding: 10px;
  border-radius: 5px;
}
